.category{
    width: 100%;
    flex-wrap: wrap;
    padding-top: 3rem;
    background-color: white;
    .top-Category{
        padding-bottom: 3rem;
        @media(max-width: 600px),(max-width: 400px){
            flex-direction: column;
        }
        h2{
            font-size: 2.3rem;
        }
        .categ-view-btn{
            background-color: rgb(2,169,92);
            color: white;
        }
        .top-categ-nav{
            // background-color: red;
        }
    }
    .bottm-Category{
        // background-color: rebeccapurple;
        width: 100%;
        gap: 1.7rem;
        padding: 0 1rem;
        flex-wrap:wrap ;
        @media(max-width: 600px),(max-width: 400px){
            flex-direction: column;
            padding: 0;
        }
        .categ-card{
            padding: 1.6rem 3rem;
            background-color: white;
            box-shadow: 2px 2px 2px 1px #aaaaaa;
            width: 30%;
            @media(max-width: 600px),(max-width: 400px){
                width: 100%;
            }
            &:hover{
                border-right: 5px solid rgb(2,169,92);
            border-bottom: 5px solid rgb(2,169,92);
            }
            .details{
                flex-direction: column;
                h3{
                    font-size: 1.2rem;
                    font-family: Arial, Helvetica, sans-serif;
                    color: rgb(0,29,35);
                }
            }
            .icon{
                padding: 0;
            }
        }
        
    }
}